# ING Insights


Notebook used to categorize and automatically analyse transations data from ING Bank Account. This account is aggregation transaction information from all accounts in ING Bank as well as Millennium.

Analysis should be used to aggregate per month infomrations infomrations about spending, mainly from accounts `Wspólne`, `Osobiste`, `Millennium`.

## 01 - Importing data

Import data from ING Bank history export. Class used to import the data `TransactionDataLoader` consisting fetching mechanism with data sanitization finctionalities.

In [4]:
from tabulate import tabulate
from pathlib import Path
from data_loader import TransactionDataLoader

csv_import_1 = Path("data/20241220_lista_transkcji_ing_90.csv")
csv_import_2 = Path("data/20241220_lista_transkcji_ing_mill_90.csv")
csv_import_3 = Path("data/Lista_transakcji_nr_0202026071_161224_ING_MILL.csv")

df = TransactionDataLoader(csv_import_3).get_data()

# If Data transakcji is  empty, fill it with Data księgownia
# df.loc[df["Data transakcji"].isna(), "Data transakcji"] = df["Data księgowania"]

# For all blocked transatcions fill the Kwota tranakcji with tha blocked ammount.
# df.loc[df["Kwota transakcji (waluta rachunku)"].isna(), "Kwota transakcji (waluta rachunku)"] = df["Kwota blokady/zwolnienie blokady"]

print(f"Succesfully imported dataftame with size {df.shape}\n\n")
df

Succesfully imported dataftame with size (789, 18)

,Data transakcji,Data księgowania,Dane kontrahenta,Tytuł,Nr rachunku,Nazwa banku,Szczegóły,Nr transakcji,Kwota transakcji (waluta rachunku),Waluta,Kwota blokady/zwolnienie blokady,Waluta.1,Kwota płatności w walucie,Waluta.2,Konto,Bank,Saldo po transakcji,Waluta.3
0,16/12/2024,16/12/2024,#LN#000560803741 SPŁATA RATY KREDYT U,#LN#000560803741 SPŁATA RATY KREDYT U,'',NaN,NaN,'20241216400018157',-5109.87,PLN,NaN,NaN,NaN,NaN,Millennium,Bank Millennium S.A,NaN,NaN
1,16/12/2024,16/12/2024,ROSSMANN 36 Krakow POL 2024-12-14,ROSSMANN 36 Krakow POL 2024-12-14,'',NaN,NaN,'20241216400008764',-125.95,PLN,NaN,NaN,NaN,NaN,Millennium,Bank Millennium S.A,NaN,NaN
2,16/12/2024,16/12/2024,SODEL ALBERT ŁUKASZ SADOWA 28 55-00 2 DOBRZYK...,Swoje,'PL82105014321000009090903783',NaN,NaN,'20241216400001668',150.00,PLN,NaN,NaN,NaN,NaN,Millennium,Bank Millennium S.A,NaN,NaN
3,16/12/2024,16/12/2024,PayPro S.A.,/OPT/X/////P24-H4R-T4B-H0J,'29124060741111001115969590 ',PEKAO O. w Warszawie,PRZELEW,'202435197202021413',-759.80,PLN,NaN,NaN,NaN,NaN,Osobiste,ING Bank Śląski S.A.,251.93,PLN
4,16/12/2024,16/12/2024,SODEL ALBERT ŁUKASZ SADOWA 28 55-002 DOBRZYKO...,Przelew własny,'76105014321000009731987658 ',ING Bank Śląski S.A.,PRZELEW,'202435197202018001',700.00,PLN,NaN,NaN,NaN,NaN,Osobiste,ING Bank Śląski S.A.,1011.73,PLN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
784,17/09/2024,NaN,ZABKA Z1208 K.2 WROCLAW 51507 POL 2205842404...,Płatność kartą 15.09.2024 Nr karty 4246xx0146,NaN,NaN,NaN,NaN,41.20,NaN,41.2,PLN,NaN,NaN,Osobiste,ING Bank Śląski S.A.,41.20,PLN
785,17/09/2024,17/09/2024,A&H S.C. KOWALCZYK Kielczow,Płatność kartą 15.09.2024 Nr karty 4246xx0146,'1915031/19730 ',NaN,TR.KART,'202426197301610423',-159.00,PLN,NaN,NaN,NaN,NaN,Osobiste,ING Bank Śląski S.A.,0.00,PLN
786,17/09/2024,NaN,A&H S.C. KOWALCZYK Kielczow POL 2205842404 ...,Płatność kartą 15.09.2024 Nr karty 4246xx0146,NaN,NaN,NaN,NaN,159.00,NaN,159.0,PLN,NaN,NaN,Osobiste,ING Bank Śląski S.A.,159.00,PLN
787,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 02 - Data filtering and sanitization


Filter only usefull columns for further data analysiss

In [5]:
selected_columns = ['Data transakcji', 'Dane kontrahenta','Tytuł',  'Kwota transakcji (waluta rachunku)', 'Bank']
new_df = df[selected_columns]

print(tabulate(new_df.head(10), headers='keys'))

    Data transakcji    Dane kontrahenta                                    Tytuł                                             Kwota transakcji (waluta rachunku)  Bank
--  -----------------  --------------------------------------------------  ----------------------------------------------  ------------------------------------  --------------------
 0  16/12/2024         #LN#000560803741 SPŁATA RATY KREDYT U               #LN#000560803741 SPŁATA RATY KREDYT U                                       -5109.87  Bank Millennium S.A
 1  16/12/2024         ROSSMANN 36  Krakow POL 2024-12-14                  ROSSMANN 36  Krakow POL 2024-12-14                                           -125.95  Bank Millennium S.A
 2  16/12/2024         SODEL ALBERT ŁUKASZ SADOWA 28 55-00 2 DOBRZYKOWICE  Swoje                                                                         150     Bank Millennium S.A
 3  16/12/2024         PayPro S.A.                                         /OPT/X/////P24-H4R-T4B-H0J                                                   -759.8   ING Bank Śląski S.A.
 4  16/12/2024         SODEL ALBERT ŁUKASZ SADOWA 28 55-002 DOBRZYKOWICE   Przelew własny                                                                700     ING Bank Śląski S.A.
 5  16/12/2024         notino.pl  Brno  CZE                                Płatność kartą  16.12.2024 Nr karty 4246xx0146                               -316.88  ING Bank Śląski S.A.
 6  15/12/2024         SODEL ALBERT ŁUKASZ SADOWA 28 DOBRZYKOWICE          Swoje                                                                        -150     ING Bank Śląski S.A.
 7  15/12/2024         SODEL ALBERT ŁUKASZ SADOWA 28 55-002 DOBRZYKOWICE   Przelew własny                                                                484     ING Bank Śląski S.A.
 8  15/12/2024         SODEL ALBERT ŁUKASZ SADOWA 28 55-002 DOBRZYKOWICE   Przelew własny                                                               -484     ING Bank Śląski S.A.
 9  15/12/2024         JMP S.A. BIEDRONKA 6270  DOBRZYKOWI                 Płatność kartą  15.12.2024 Nr karty 4246xx0146                                -51.14  ING Bank Śląski S.A.

## 03 - Category Definition

## 04 - Data Analysis

## 05 - Data Presentation

## 06 - Export to Excel file